{
    "CN": "ldapusermanager",
    "hosts": [
        "ldapusermanager.org"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 384
    },
    "names": [
        {
            "O": "aau",
            "OU": "biotech",
            "L": "aalborg",
            "C": "denmark"
        }
    ]
}